.stack-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}

.stack-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.stack-element > p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
