:root {
  font-family: system-ui, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}


a:visited {
  color: var(--link-visited);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
}

h2 {
  font-size: 1.7em;
  line-height: 1.1;
  margin-top: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: all 0.2s ease;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FFFFFF;
    --accent: #5F5F5F;
    --accent-pale: #EDECEB;
    --text: #000000;
    --button: #000000;
    --button-hover: #505050;
    --button-active: #373737;
    --button-text: #FFFFFF;
    --divider: #919191;
    --divider-pale: #DADADA;
    --link: #646cff;
    --link-hover: #535bf2;
    --link-visited: #8a70ff;

    --icon: #000000;
    --icon-bg-hover: #EDECEB;
    --icon-bg-active: #DADADA;

    --blockquote-bg: #ebecff;

    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: var(--link-hover);
    cursor: pointer;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --accent: #9B9B9B;
    --accent-pale: #292827;
    --text: #D3D3D3;
    --button: #FFFFFF;
    --button-hover: #D3D3D3;
    --button-active: #9B9B9B;
    --button-text: #000000;
    --divider: #505050;
    --divider-pale: #373737;

    --link: #ADB1FF;
    --link-hover: #858bff;
    --link-visited: #9273d3;

    --blockquote-bg: #373737;

    --icon: #FFFFFF;
    --icon-bg-hover: #505050;
    --icon-bg-active: #373737;
  }

   a:hover {
    color: var(--link-hover);
  }
}
